streamlit
openai
audio_recorder_streamlit
streamlit-float
torch 
torchaudio 
TTS 
gradio
python-dotenv 
groq 
#whisper 
#ffmpeg-python
#git+https://github.com/openai/whisper.git
transformers
sentencepiece 
datasets[audio]
assemblyai[extras]

